@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    width: 0px; /* Ou use display: none; */
    height: 0px;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    overflow-y: auto; 
  }
}